<% provide(:title, 'Home') %>

<h1>SideWork</h1>
<p>Welcome to SideWork!</p>
<p>Are you a...</p>
<%= link_to "Login", "#" %>
<%= link_to "Restaurant Looking for Help?", "#" %>
<%= link_to "Service Professional Looking for work?", "#" %>