<h1>SideWork</h1>

<p>Hi <%= @user.email %>,</p>

<p>
  Thank you for signing up for SideWork.
  </br>
  </br>
  You will not be able to make full use of SideWork until you activate your account.
  </br>
  </br>
  Please verify your email by clicking this link:
  <%= link_to 'Activate', edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>
