// Universal

body {
  padding-top: 60px;
}

// miscellaneous

.debug_dump {
  border: 1px solid #000000;
  clear: both;
  float: left;
  margin-top: 45px;
  padding: 15px;
  width: 100%;
}

// typography
 
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 25px;
  text-align: center;
}

.btn {
  margin: auto;
  display: block;
  width: 100%;
}

// Material Icons

// Rules for sizing the icon
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background
.material-icons.md-dark { color: rgba(0, 0, 0, 0.80); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }